.text-img {
    display: flex;
    justify-content: space-between;
    position: relative; /* Ermöglicht die Positionierung der box innerhalb von .text-img */
  
    .text {
      width: 60%;
      font-size: 22px;
  
      span {
        display: block;
        width: 70%;
      }
    }
  
    .img {
      width: 40%;
      position: relative; /* Ermöglicht die Positionierung der .box relativ zu .img */
  
      img {
        width: 100%;
        height: auto;
        display: block;
      }
  
      .box {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0; /* Startet als unsichtbar */
        transform: translate(-20px, -20px); /* Verschiebung nach oben links */
  
        .box-border {
          position: absolute;
          border: 4px solid black;
          height: 100%;
          width: 100%;
          box-sizing: border-box;
        }
      }
  
      &:hover .box {
        opacity: 1; /* Sichtbar beim Hover */
      }
    }
  
    .house {
      display: flex;
      align-items: center;
      padding-top: 48px;
      gap: 16px;
    }
  
    .remote {
      display: flex;
      align-items: center;
      padding-top: 24px;
      gap: 16px;
    }
  
    .button-container {
      display: flex;
      justify-content: center;
    }
  
    .button {
      border: 4px solid black;
      width: 213px;
      height: 68px;
      align-items: center;
      display: flex;
      justify-content: center;
      margin-top: 80px;
      cursor: pointer;
      transition: width 100ms ease-out; /* Animiert die Breite */
  
      &:hover {
        font-weight: bold;
        width: 250px;
      }
    }
  }
  
  .about-me {
    width: 90%;
    margin: auto;
  }
  
  .headline-container {
    padding-bottom: 48px;
  
    span {
      font-family: 'Syne';
      font-size: 78px;
      font-weight: 800;
  
      &:hover {
        color: #00BC8F;
      } 
    }
  }

  .arrowleft {
    img {
      transform: scaleX(-1);
    }
  }