.footer {
    font-family: "Syne", sans-serif;
    color: white;
    background-color: black;
    overflow: hidden !important;
    position: relative;
    transform-origin: top left;
    display: flex;
    flex-direction: column;
    z-index: 100;
}